[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CausalState"]
	path = CausalState
	url = https://github.com/sebastiaan-blank/causalstate
